<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit User {{user.id}}</h1>
    <a href="/">Home</a>
    <form action="/user/update" method="POST">
        <input type="hidden" name="id" value="{{user.id}}">
        <div>
            <label for="first_name">First Name</label>
            <input name= "first_name" type="text" value="{{user.first_name}}">
        </div>
        <div>
            <label for="last_name">Larst Name</label>
            <input name= "last_name" type="text" value="{{user.last_name}}">
        </div>
        <div>
            <label for="email">Email</label>
            <input name= "email" type="text" value="user.email">
        </div>
        <button type="submit">Update</button>
        <a href="/user/show/{{user.id}}">Show User</a>
    </form>
</body>
</html>