<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add A New User</h1>
    <a href="/">Home</a>
    <form action="/process" method="POST">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div>
            <label for="first_name">First Name</label>
            <input name= "first_name" type="text">
        </div>
        <div>
            <label for="last_name">Larst Name</label>
            <input name= "last_name" type="text">
        </div>
        <div>
            <label for="email">Email</label>
            <input name= "email" type="text">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>